services:
  web:
    image: magic-stream-web-dev:1.0.1
    container_name: magic-stream-web-dev
    ports:
      - "5173:5173"
    build:
      context: ./Client/magic-stream-client
      dockerfile: Dockerfile.dev
    develop:
      watch:
        - path: ./Client/magic-stream-client/package.json
          action: rebuild
        - path: ./Client/magic-stream-client/package-lock.json
          action: rebuild
        - path: ./Client/magic-stream-client
          target: /app
          action: sync

  api:
    image: magic-stream-api-dev:1.0.1
    container_name: magic-stream-api-dev
    build:
      context: ./Server/MagicStreamServer
      dockerfile: Dockerfile.dev
    develop:
      watch:
        - path: ./Server/MagicStreamServer/go.mod
          action: rebuild
        - path: ./Server/MagicStreamServer/go.sum
          action: rebuild
        - path: ./Server/MagicStreamServer
          target: /app
          action: sync
